@charset "utf-8";
*{ margin:0; padding:0; -webkit-text-size-adjust:none;}
/* CSS Document */
/* Reset */
html{} 

body { line-height:normal; font-size:12px; font-family:Verdana, Helvetica, AppleGothic, Sans-serif; color:#333;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; font-size:12px; font-family:Verdana, Helvetica, AppleGothic, Sans-serif; }
ol, ul, li { list-style:none;}
h1, h2, h3, h4, h5, h6 { font-size :normal 100%; line-height:normal;}
form, fieldset, img { margin:0; padding: 0; border:0;}
input,select, img { vertical-align:middle;}
address, caption, em { font:normal;}
caption, legend, summary { display:none;}
.comment { position:absolute; display:none;}
.png24 { _tmp:expression(setPng24(this));}

input { padding:0 2px; height:20px; font-size:12px; color:#333; line-height:1.6em; border:1px solid #b5b5b5; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}
input.radio,
input.check { margin:0; padding:0; width:13px; height:13px; line-height:normal; border:0;}
textarea { padding:2px; font-size:12px; color:#333; line-height:1.6em; border:1px solid #b5b5b5; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}
select { height:21px; font-size:12px; color:#333; border:1px solid #b5b5b5; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}
select.basic { padding:0px; height:20px; font-size:12px; color:#333; line-height:1; border:1px solid #b5b5b5; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}

a:link, 
a:active, 
a:visited { color:#555; text-decoration:none;}
a:hover { color:#0072bc;}
a {outline:none; select-dummy: expression(this.hideFocus=true);}

body { background:#d2d1cd;}
.main_bg_01 { background:#d2d1cd url(/hun/images/us/portal/sub/portal_top_bg.jpg) center 0 no-repeat;}

/* gnb
#gnb_en { position:relative; height:40px; background:url(/hun/images/us/portal/gnb/gnb_bg.gif) repeat-x; z-index:50;}
.fixed { position:fixed !important; _position:absolute; top:0; width:100%;}
#gnb_en .gnb_wrap { margin:0 auto; width:980px; *zoom:1;}
#gnb_en .gnb_wrap:after { content:""; clear:both; display:block;}
#gnb_en .gnb_logo { float:left; margin:0; padding:0;}
#gnb_en .gnb_logo li { float:left; margin:6px 0 0 0; padding:0 10px 0 0; background:none; line-height:1; list-style:none;}
.gnb_cs { float:right; padding:0 0 2px 0; *zoom:1;}
.gnb_cs:after { content:""; clear:both; display:block;}
.gnb_cs li { float:left; position:relative; margin:12px 0 0 0; padding:0 12px 0 10px; font-family:verdana; color:#363636; font-size:11px; font-weight:bold; line-height:1; background:url(/hun/images/us/portal/gnb/gnb_bar.gif) left 2px no-repeat;}
.gnb_cs li:first-child { background:none;}
.gnb_cs li span { color:#00b4ef;}
.gnb_cs li a:link,
.gnb_cs li a:active, 
.gnb_cs li a:visited { color:#363636; text-decoration:none;}
.gnb_cs li a:hover { color:#363636; text-decoration:underline;}
.gnb_cs li a.my:link,
.gnb_cs li a.my:active, 
.gnb_cs li a.my:visited { padding:0 12px 0 0; margin:0 10px 0 0; color:#d0454b; text-decoration:none; background:url(/hun/images/us/portal/gnb/arrow_gnb_red.gif) right 6px no-repeat;}
.gnb_cs li a.my:hover { color:#d0454b; text-decoration:underline;}
.gnb_cs li a.arrow:link,
.gnb_cs li a.arrow:active, 
.gnb_cs li a.arrow:visited { padding:0 12px 0 0; background:url(/hun/images/us/portal/gnb/arrow_gnb_gray.gif) right 6px no-repeat;}
.gnb_cs li a.arrow:hover {}

.gnb_2depth { position:absolute; top:20px; left:0px; width:110px; border:1px solid #7d7d7d; background:#ebebeb;}
.gnb_2depth ul { padding:3px 10px 10px 10px; border:1px solid #fff;}
.gnb_2depth ul li { float:none; clear:both; margin:0; padding:5px 0 5px 13px; color:#363636; line-height:1.2em; border-top:1px solid #b5b4b1; background:url(/hun/images/us/portal/gnb/gnb_2depth_bullet.gif) 4px 10px no-repeat !important;}
.gnb_2depth ul li:first-child { border:none;}
.gnb_2depth ul li a:link,
.gnb_2depth ul li a:active, 
.gnb_2depth ul li a:visited { color:#363636; text-decoration:none; font-size:10px; font-weight:normal;}
.gnb_2depth ul li a:hover { color:#363636; text-decoration:underline;}
 */
h1 { display:none;}

/* layout */
#wrap { margin:0 auto 50px auto; width:980px;}
#wrap #header { position:relative; margin:0 0 27px 0; height:260px; z-index:20;}
#wrap #container { *zoom:1;}
#wrap #container:after {content:""; clear:both; display:block;}
#wrap #container #left { float:left; position:relative; padding:0 15px; width:200px;}
#wrap #container #center { float:right; position:relative; width:723px; border:1px solid #b0b0b0; background:#eaeaea;}

/* header ************/
/* navi */
.nav { margin:0 auto; height:86px; text-align:center;}
.nav h2 { display:inline;}
.nav div { position:relative; display:inline-block; .display:inline; padding:0 50px;}
.nav ul { position:absolute; top:60px; left:0; text-align:left;}
.nav ul li { display:inline; margin:0 8px; padding:6px 0 0 0;}
.nav ul li a:link,
.nav ul li a:active,
.nav ul li a:visited { color:#7b7b7b; font-weight:bold; text-decoration:none;}
.nav ul li a:hover,
.nav ul li.on a { color:#bdbdbd;}
/* visual */
.visual { height:174px;}

/* content ************/
/* sub_default */
.lnb { margin:0 auto 20px auto;}
.lnb .l_sha { position:absolute; top:0; left:-40px; width:40px; height:420px; background:url(/hun/images/us/portal/sub/lnb_left_shadow.jpg) no-repeat;}
.lnb .r_sha { position:absolute; top:0; right:-55px; width:55px; height:620px; background:url(/hun/images/us/portal/sub/lnb_right_shadow.jpg) no-repeat;}
.lnb h2 { padding:14px 0 0 0; height:33px; font-family:Palatino Linotype, verdana; font-size:20px; color:#8d0004; text-align:center; line-height:1; background:url(/hun/images/us/portal/sub/lnb_tit_bg.jpg) no-repeat;}
.lnb ul { margin:0 10px;}
.lnb ul li { padding:8px 0 7px 7px; line-height:1.2em; border-bottom:1px solid #c2c2c2;}
.lnb ul li a:link,
.lnb ul li a:active,
.lnb ul li a:visited { color:#363636; text-decoration:none;}
.lnb ul li.on a,
.lnb ul li a:hover { color:#363636; font-weight:bold;}

.title { position:relative; padding:30px 0 0 15px; height:37px;}
.title h3 { color:#1a1a1a; font-weight:normal; font-size:25px; font-family:Palatino Linotype, verdana; line-height:1;}
.title h4 { position:absolute; top:25px; left:15px; color:#1a1a1a; font-weight:normal; font-size:12px; font-family:verdana; }
.title h4 strong { color:#448ccb; }
.title span { position:absolute; top:10px; left:15px; color:#333; font-size:12px;}
.title span strong { color:#448ccb; font-weight:normal;}

.tit_bar { padding:0 25px; height:39px; line-height:3.4em; background:url(/hun/images/us/portal/sub/tit_bar_bg.jpg) repeat-x;}
.tit_bar ul { *zoom:1;}
.tit_bar ul:after {content:""; clear:both; display:block;}
.tit_bar ul li { float:left; padding:0 25px 0 0; color:#000; font-size:11px;}

.con_body { margin:43px auto 50px auto; width:675px; min-height:500px; color:#555; line-height:2em;}
hr { margin:30px 0; height:1px; background:#b7b7b7; border:none;}

/* 0_member(signup) */
.txt_last { text-align:right; margin:20px 0 0 0;}
.entry_table { margin:0 auto; width:450px;}
.entry_table table { width:100%; border-collapse:collapse;}
.entry_table table th { padding:4px 0; text-align:left; vertical-align:top;}
.entry_table table td { padding:4px 0; color:#000;}
.en_comment { color:#448ccb; font-size:11px;}
.txt_type01 { padding:2px 0; font-size:11px; color:#555; line-height:1.2em;}
.txt_type02 { margin:0 0 25px 0; color:#333; font-size:30px; font-weight:normal; letter-spacing:-1px;}
/* 0_member(forgot) */
.box_type01 { padding:20px; border:1px solid #b7b7b7; background:#f3f3f3;}

/* 4_mypage */
.message { margin:0 auto; padding:10px 0; width:320px; color:#ffa200; text-align:center; background:#000;}/* error */
.message_box { margin:0 auto; padding:10px 0; width:100%; color:#900; text-align:center; background:#DDDDDD; border:solid 1px #CCC; font-weight:bold; }/* error */
.edit_img { position:relative; *zoom:1;}
.edit_img:after {content:""; clear:both; display:block;}
.edit_img li { float:left;}
.edit_img li.img { margin:0 10px 0 0; padding:4px; width:152px; height:152px; border:1px solid #aeadaa; background:#d2d1cd; }
.edit_img li.txt { position:relative; width:500px; height:162px; }
.edit_img li.img img { border:1px solid #464644;}
.edit_img .del_img { position:absolute; bottom:0; left:0; font-size:11px; color:#555; font-family:Verdana, Helvetica;}

/* 3_support */
.radio_list { margin:0 0 10px 0; padding:10px; border:1px solid #a5acb2; background:#fff;}
.radio_list li { }
.faq_list { border:1px solid #a5acb2; overflow:hidden;}
.faq_list dl { margin:-1px 0 0 0; .margin:0;}
.faq_list dt { padding:6px 20px 6px 40px; border-top:1px solid #d0d1d3; background:#f3f3f3 url(/hun/images/us/portal/sub/icon_q.gif) 10px 10px no-repeat;}
.faq_list dt a:link, 
.faq_list dt a:active, 
.faq_list dt a:visited { color:#000; text-decoration:none;}
.faq_list dt a:hover { color:#000;}
.faq_list dd { padding:8px 20px 12px 40px; border-top:1px solid #d0d1d3; background:#fffaf7 url(/hun/images/us/portal/sub/icon_a.gif) 10px 10px no-repeat; word-break:break-all; word-wrap:break-word; display:none;}
.faq_list p { padding:5px 10px; color:#7d4900; text-align:right; font-size:11px; border-top:1px solid #d0d1d3; background:#f3f3f3;}

.list_table { margin:0 auto; line-height:1em;}/* myQuestion */
.list_table table { width:100%;}
.list_table table th { padding:7px 0; text-align:center; color:#000; border-top:1px solid #6e6e6d; border-bottom:1px solid #525659; background:#d9d8d6;}
.list_table table td { padding:4px 0; .padding:5px 0 5px 0; min-height:24px; color:#000; text-align:center; border-bottom:1px solid #d0d1d3; background:#f3f3f3;}
.list_table table td.txt_left { padding-left:20px; text-align:left;}
.list_table table td.date { font-size:11px;}
.list_table table td.auth { color:#448ccb; font-weight:bold; font-size:11px;}
.list_table .txt_2ln { margin-top:4px; font-size:10px; color:#555555; }
.list_table .txt_auth { color:#448ccb; font-weight:bold; font-size:11px;}
.list_table a:link,
.list_table a:active,
.list_table a:visited { color:#000; text-decoration:none;}
.list_table a:hover { color:#000;}
.type01 table td { padding:15px 0; line-height:2em;}/* coins policy */

.list_table .qna { display:none;}
.list_table .qna td { line-height:1.6em; background:#fffaf7;}
.list_table .qna td.img_q { background-image:url(/hun/images/us/portal/sub/icon_q.gif); background-position:29px 10px; background-repeat:no-repeat;}
.list_table .qna td.img_a { background-image:url(/hun/images/us/portal/sub/icon_a.gif); background-position:29px 10px; background-repeat:no-repeat;}

.table_search { *zoom:1;}
.table_search:after {content:""; clear:both; display:block;}
.table_search .sch { float:left;}
.table_search .page { float:right;}
.table_search .page .board_page2 { margin-top:3px;}

/* 1_forums */
h4 { margin:0 0 10px 0; font-family:Palatino Linotype, verdana; font-size:20px; color:#000; font-weight:normal;}
.forums_search { padding:10px 0; text-align:center; background:#d9d8d6; border:1px solid #6e6e6d;}
.forums_search input { border:1px solid #6e6e6d;}

.forums_search_left { padding:10px; background:#d9d8d6; border:1px solid #6e6e6d;}
.forums_search_top { background:#6e6e6d; text-align:center; font-weight:bold; padding:5px; color:#FFF; font-size:10px; }
.forums_search_left .btn { text-align:center; }
.forums_search_left li { padding-bottom:3px; }
.forums_search_left input { border:1px solid #6e6e6d;}

.forums_category { position:relative;}
.forums_category .select { position:absolute; top:3px; left:113px;}

.article { border-top:1px solid #1a180c;}
.article li { padding:15px 0 10px 0; border-bottom:1px solid #1a180c;}/* padding:40px 25px 0 40px; height:255px; */
.article li .date { margin:0 0 10px 0; color:#857265; font-size:12px;}
.article li .date span { color:#7dceec;}
.article h5 { margin:0 0 10px 0; color:#000; font-size:20px; font-weight:normal; font-family:Palatino Linotype, verdana;}
.article dl { position:relative; padding:0 0 30px 0; *zoom:1;}
.article dl:after { content:""; clear:both; display:block;}
.article dt { float:left; margin:5px 30px 0 0; padding:1px; width:76px; height:76px; border:1px solid #c3c2bf; background:#dcdbd6;}
.article dt img { width:74px; height:74px; border:1px solid #939390;}
.article dd { float:left; width:560px; text-align:justify; line-height:2em; color:#000; word-break:break-all; word-wrap:break-word;}
.article dd .e_date { color:#000; font-weight:bold; line-height:1.4em;}

.board_btn { padding:7px 0 0 0; text-align:right; border-top:1px dashed #938d7b;}
.board_reply { padding:10px 0 0 0; border-top:1px solid #333; font-weight:bold; color:#555; line-height:1;}
.board_reply span { color:#f26522;}

.editer { padding:15px 0; border:1px solid #1a180c; border-left:none; border-right:none;}
input.editer_tit { padding:3px; height:20px; border:1px solid #6e6e6d;}

/* 2_shop */
.coins { position:relative; padding:5px 60px 20px 235px; border:1px solid #3e2e2a; background:url(/hun/images/us/portal/sub/icon_a.gif) no-repeat;}
.coins span.img { display:block; position:absolute; top:0; left:0; width:170px; height:100%; background:#b7b7b7 url(/hun/images/us/portal/sub/img_coins.jpg) center no-repeat;}
.coins ul {}
.coins ul li { position:relative; padding:5px 0 0 35px; font-size:11px; color:#111; border-bottom:1px solid #3e2e2a;}
.coins ul li.tit { padding-left:0; border-bottom:2px solid #3e2e2a;}
.coins ul li span.coin { position:absolute; top:5px; right:0; color:#736357;}

.buy_step { margin:0 -9px 0 0; height:550px; *zoom:1;}
.buy_step:after {content:""; clear:both; display:block;}
.step_on,
.step_off { position:relative; float:left; margin:0 9px 0 0; _margin-right:-3px; height:100%; border:1px solid #3b2a26;}
.step_box { padding:15px;}
.step_on { width:398px; background:#e4e3e3;}
.step_on h4 { margin:0; padding:15px 0 0 20px; height:45px; font-family:Palatino Linotype, verdana; font-size:30px; color:#eeddbc; line-height:1; font-weight:normal; background:#2e1c18;}
.step_on h4 span { margin:0 0 0 10px; font-size:12px; color:#a67c52; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}
.step_on ul.dep1 { margin:0 0 25px 0;}
.step_on ul.dep1 li { position:relative; color:#a67c52; font-weight:bold;}
.step_on ul.dep1 li span.bonus { position:absolute; top:3px; right:0; font-size:11px; color:#736357; font-weight:normal;}
.step_on ul.dep2 { border-bottom:1px solid #2e1c18;}
.step_on ul.dep2 li { position:relative; padding:3px 0; font-size:11px; color:#111; font-weight:normal; border-bottom:1px solid #2e1c18;}
.step_on ul.dep2 li input { margin:0 5px 0 3px;}
.step_off { width:126px; background:#c7c5c5;}
.step_off h4 { margin:0; padding:15px 0 0 0; height:45px; font-family:Palatino Linotype, verdana; font-size:30px; color:#998675; line-height:1; text-align:center; font-weight:normal; background:#362f2d;}

.list_table2 { margin:0 auto; line-height:1em;}/* step2 */
.list_table2 table { width:100%; border-collapse:collapse; border-top:2px solid #2e1c18; border-bottom:2px solid #2e1c18;}
.list_table2 table th { padding:8px 0; text-align:center; font-size:11px; color:#555; border-bottom:2px solid #2e1c18; background:#c7c5c5;}
.list_table2 table td { padding:8px 0; .padding:5px 0 5px 0; font-size:11px; color:#555; text-align:center; border-bottom:1px solid #2e1c18;}
.list_table2 tbody.txt_left td { padding-left:10px; text-align:left;}

.buy_step .btn_area { position:absolute; bottom:15px; left:15px; width:370px;}

























/* 버튼영역 */
.btn_area { *zoom:1;}
.buy_step:after {content:""; clear:both; display:block;}
.f_left { float:left;}
.f_right { float:right;}
.btn_right_abs { position:absolute; top:1px; right:1px;}

/* 페이징 */
.board_page2 { clear:both; margin-top:20px; overflow:hidden; text-align:center; line-height:1;}
.board_page2 img { vertical-align:top; border:1px solid #abb1b6;}
.board_page2 .paging a:link, 
.board_page2 .paging a:visited { border:1px solid #abb1b6; background:#fff; color:#5c5c5c; display:inline-block; font-size:11px; height:17px; line-height:1.5em; padding:0 5px; text-align:center; font-family:verdana;}
.board_page2 .paging a:hover, 
.board_page2 .paging a:active,
.board_page2 .paging a.on:link, 
.board_page2 .paging a.on:visited,
.board_page2 .paging a.on:hover, 
.board_page2 .paging a.on:active { background-color:#555555; color:#fff;}

/* color */
.cyan_01 { color:#00aeef !important;}
.cyan_02 { color:#448ccb !important;}
.red_01 { color:#8d0004 !important;}
.red_02 { color:#d0454b !important;}
.red_03 { color:#d0454b !important;}
.brown { color:#7b2e00 !important;}
.black { color:#111 !important;}

/* footer */
#footer { padding:35px 0; background:#1a1a1a;}
#footer .f_wrap { margin:0 auto; width:980px; *zoom:1;}
#footer .f_wrap:after {content:""; clear:both; display:block;}
#footer p { float:left; color:#979797; font-size:11px;}
#footer p img { margin:0 15px 0 0;}
#footer p span { color:#dbdbdb;}
#footer ul { float:right; overflow:hidden;}
#footer ul li { display:inline; margin:0 0 0 -1px; padding:0 7px 0 8px; background:url(/images/us/waren/main/foot_bar.gif) left 3px no-repeat; line-height:1;}
#footer a:link, 
#footer a:active, 
#footer a:visited { color:#bdbdbd; font-family:verdana; font-size:10px; text-decoration:none;}
#footer a:hover { color:#bdbdbd; text-decoration:underline;}








/* margin & padding */
.marT_5 { margin-top:5px;}
.marT_10 { margin-top:10px;}
.marT_20 { margin-top:20px;}
.marT_30 { margin-top:30px;}
.marT_40 { margin-top:40px;}
.marT_50 { margin-top:50px;}
.marB_10 { margin-bottom:10px;}

.t_left { text-align:left !important;}
.t_right { text-align:right !important;}
.t_center { text-align:center !important;}

/* link */
a.link_type01:link, /* signup mail */
a.link_type01:active, 
a.link_type01:visited { color:#00aeef; text-decoration: none;}
a.link_type01:hover { color:#00aeef; text-decoration:underline;}

a.link_type02:link, /* signup entry */
a.link_type02:active, 
a.link_type02:visited { color:#448ccb; text-decoration: none;}
a.link_type02:hover { color:#448ccb; text-decoration:underline;}

a.link_type03:link, /* find id(mail) */
a.link_type03:active, 
a.link_type03:visited { color:#a43a3d; text-decoration:underline; font-weight:bold; font-size:12px; font-family:Palatino Linotype, verdana;}
a.link_type03:hover { color:#a43a3d; text-decoration:underline;}

/* button */
.btn_type01,
.btn_type01 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:19px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#fff; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/us/portal/sub/btn_type01.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type01 { margin-right:2px; background-position:left top;}
.btn_type01 *,
.btn_type01 a:link, 
.btn_type01 a:active, 
.btn_type01 a:visited,
.btn_type01 a:hover { cursor:pointer; _cursor:hand; padding:0 12px; font-size:11px; background-position:right top; line-height:1.8em; color:#fff; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

.btn_type02,
.btn_type02 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:28px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#252525; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/us/portal/sub/btn_type02.gif) no-repeat; vertical-align:top; overflow:visible;}			
.btn_type02 { margin-right:1px; background-position:left top;}
.btn_type02 *,
.btn_type02 a:link, 
.btn_type02 a:active, 
.btn_type02 a:visited,
.btn_type02 a:hover { left:1px; cursor:pointer; _cursor:hand; padding:0 12px; font-size:11px; background-position:right top; line-height:2.6em; color:#252525; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

.btn_type03,
.btn_type03 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:18px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#6c6c6c; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/us/portal/sub/btn_type03.gif) no-repeat; vertical-align:top; overflow:visible;}			
.btn_type03 { margin-right:2px; background-position:left top; vertical-align:middle;}
.btn_type03 *,
.btn_type03 a:link, 
.btn_type03 a:active, 
.btn_type03 a:visited,
.btn_type03 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0 7px; font-size:11px; background-position:right top; letter-spacing:-1px; line-height:1.8em; color:#6c6c6c; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

.btn_type04,
.btn_type04 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:22px; font-family:Verdana, Helvetica; color:#fefefe; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/us/portal/sub/btn_type04.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type04 { margin-right:2px; background-position:left top;  vertical-align:middle;}
.btn_type04 *,
.btn_type04 a:link, 
.btn_type04 a:active, 
.btn_type04 a:visited,
.btn_type04 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0px 20px 0 18px; text-align:center; font-size:10px; background-position:right top; line-height:2em; color:#fefefe; font-family:Verdana, Helvetica;}

.btn_type05,
.btn_type05 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:22px; font-family:Verdana, Helvetica; color:#333; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/us/portal/sub/btn_type05.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type05 { margin-right:2px; background-position:left top;  vertical-align:middle;}
.btn_type05 *,
.btn_type05 a:link, 
.btn_type05 a:active, 
.btn_type05 a:visited,
.btn_type05 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0px 20px 0 18px; text-align:center; font-size:10px; background-position:right top; line-height:2em; color:#333; font-family:Verdana, Helvetica;}

.none { display:none;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}/* 말줄임 */

/* 모달창 */
#simplemodal-overlay { background-color:#000; cursor:wait; filter:alpha(opacity=70) !important;}/* simple modal Overlay */
/*#simplemodal-container { background-color:#202020;} simple modal Container */
.layer_close { padding:6px 6px 6px 0; text-align:right;}/* 레이어닫기 버튼 */

/* 폼 유효성체크 */
.formInfoMsg { position:absolute; padding:8px; font-size:12px; font-weight:bold; border:3px solid #f26522; background:#fff8f0; line-height:1.2em;}
.i.formInfoMsg { position:absolute; padding:8px; font-size:12px; font-weight:bold; border:3px solid #0ec21f; background:#fff8f0; line-height:1.2em;}

@media all and (max-width:1024px) {
	.flower { display:none;}
}

/* */

blockquote{margin:1em 40px;position:relative;border:1px solid #999;page-break-inside:avoid;font-family:Georgia,Times,"Times New Roman",serif;font-style:italic;}
blockquote:before{content:"\201C";font-size:40px;line-height:40px;position:absolute;left:-40px;width:40px;text-align:center;color:#666;}