@charset "utf-8";
*{ margin:0;padding:0; -webkit-text-size-adjust:none;}
/* CSS Document */
/* Reset */
html{} 
body { background:#000; line-height:normal; font-size:12px; font-family:Verdana, Helvetica, Sans-serif; color:#333;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0;}
ol, ul, li { list-style:none;}
h1, h2, h3, h4, h5, h6 { font-size :normal 100%; line-height:normal;}
form, fieldset, img { margin:0; padding: 0; border:0;}
input,select, img { vertical-align:middle;}
address, caption, em { font:normal;}
hr, caption, legend, summary { display:none;}
.png24 { _tmp:expression(setPng24(this));}
a:link, 
a:active, 
a:visited { color:#ccc; text-decoration:none;}
a:hover { color:#ccc;}
h1,
.none { display:none;}
/* layout */
.bg_12sky2	{ background:url(/hun/images/us/12sky2/teaser/bg.jpg) center 0 no-repeat;}

#wrap { margin:0 auto; width:1000px; height:930px; }
	.con { padding:353px 0 0 63px; }
	.mv_box { width:600px; height:450px; background:#333333; }

#footer { padding:50px 0 70px 0; border-top:1px solid #2e2b2a; text-align:center; font-size:11px; color:#707070; }
	#footer	span { color:#CCC; }
	#footer	img { margin-right:15px; vertical-align:text-bottom; }