@charset "utf-8";
*{ margin:0;padding:0;}
/* CSS Document */
/* Reset */
html{} 

body { line-height:1; font-size:12px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#333;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; font-size:12px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; }
ol, ul, li { list-style:none;}
h1, h2, h3, h4, h5, h6 { font-size :normal 100%; line-height:1;}
form, fieldset, img { margin:0; padding: 0; border:0;}
input,select, img { vertical-align:middle;}
address, caption, em { font:normal;}
hr, caption, legend, summary { display:none;}
.comment { position:absolute; display:none;}
.png24 { _tmp:expression(setPng24(this));}

input { padding:0 2px; height:19px; font-size:12px; color:#333; line-height:1.6em; border:1px solid #b5b5b5; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}
input.radio,
input.check { margin:0; padding:0; width:13px; height:13px; line-height:normal; border:0;}
textarea { padding:2px; font-size:12px; color:#333; line-height:1.6em; border:1px solid #b5b5b5; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}
select { border:1px solid #b5b5b5;}
select.basic { padding:0px; height:20px; font-size:12px; color:#333; line-height:1; border:1px solid #b5b5b5; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

a:link, 
a:active, 
a:visited { color:#555; text-decoration:none;}
a:hover { color:#0072bc;}

/*a {outline:none; select-dummy: expression(this.hideFocus=true);}/* 링크 점선 삭제 */

body { background:#fff;}
body.gray { background:#e2e2e2;}

/* login main */
#login_container { margin:250px auto 0 auto; width:800px;}
#login_container h2 {}
#login_container #login_contents { margin:14px 0 10px 0; position:relative; height:362px; background:url(/hun/images/tcrm/login_bg.gif) no-repeat;}
#login_container #login_contents .login_box { position:absolute; top:65px; right:110px; width:290px;}
#login_container #login_contents .login_box h3 { margin:0 0 15px 20px;}
#login_container #login_contents .login_box ul { position:relative;}

#login_container #login_contents .login_box ul.form { padding:20px; border-top:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2; }
#login_container #login_contents .login_box ul.form li { position:relative; padding:6px 0 7px 0; height:16px; color:#646464; font-size:11px; font-weight:bold;}
#login_container #login_contents .login_box ul.form li input { position:absolute; top:0; left:28px; height:20px; }

#login_container #login_contents .login_box ul.form li.btn { position:absolute; padding:0; top:20px; right:20px;}
#login_container #login_contents .login_box ul.form li.btn input { position:static; width:71px; height:52px; border:none; background:url(/hun/images/tcrm/btn_login.gif) no-repeat}
#login_container #login_contents .login_box ul.form li.save { padding:5px 0 0 30px; color:#858585; font-weight:normal;}
#login_container #login_contents .login_box ul.form li.save input { position:static; margin:0; padding:0; width:13px; height:13px; line-height:normal; border:0;}

#login_container #login_contents .login_box ul.txt { margin:20px 0 0 0; }
#login_container #login_contents .login_box ul.txt li { height:18px; color:#858585; font-size:11px; letter-spacing:-1px; }
#login_container #login_contents .login_box ul.txt li.tit { margin:0 0 5px 0; font-weight:bold; }






/* layout */
#wrap { padding:20px; min-width:1200px; _width:1200px;}
	#header {}
	#container { position:relative; *zoom:1;}
	#container:after {content:""; clear:both; display:block;}			
		#left { position:absolute; top:0; left:0; width:205px;}
		#content { margin:0 0 0 215px; padding:30px 30px 100px 30px; border:1px solid #d6d6d6; background:#fff; min-height:400px;}/**/
	#footer {}


/* header */
#header {}
.member { height:30px; text-align:right; color:#6c6c6c; font-size:11px;}
.topMenu { margin:0 0 10px 0; padding:6px 0 0 11px; height:30px; background:url(/hun/images/tcrm/topmenu_bg.gif) repeat-x;}

.topMenu ul { *zoom:1;}
.topMenu ul:after {content:""; clear:both; display:block;}	
.topMenu ul li { float:left; padding:0 20px; color:#e0e0e0; font-size:12px; font-weight:bold; line-height:1.6em;}
.topMenu ul li a:link,
.topMenu ul li a:active,
.topMenu ul li a:visited { color:#e0e0e0; text-decoration:none;}
.topMenu ul li a:hover { color:#e0e0e0; text-decoration:underline;}

.topMenu ul li.game_select { padding:0 40px 0 0;}
.topMenu ul li.game_select select { border:1px solid #000;}

/* left */
#left { }
#left h2 { margin:0 0 10px 0; padding:19px 0 0 0; height:30px; font-size:16px; color:#fff; text-align:center; font-weight:bold; background:url(/hun/images/tcrm/leftmenu_h2_bg.gif) repeat-x;}

#left .menu_box { padding:12px 10px; border:1px solid #d6d6d6; background:#fff; }
#left .menu_box h3 { padding:9px 0 0 10px; height:22px; border-left:1px solid #ddddde; border-right:1px solid #ddddde; background:url(/hun/images/tcrm/leftmenu_h3_bg.gif) repeat-x;}
#left .menu_box h3 a { _padding-top:1px; width:163px; display:block; background:url(/hun/images/tcrm/arrow.gif) 158px 2px no-repeat;}
#left .menu_box h3 a:hover { background:url(/hun/images/tcrm/arrow_on.gif) 158px 2px no-repeat;}
#left .menu_box h3.on a { color:#0072bc; background:url(/hun/images/tcrm/arrow_on.gif) 158px 2px no-repeat;}

#left .menu_box ul { margin:0 0 1px 0; }
#left .menu_box ul li { padding:10px; border-bottom:1px solid #ededed; }
#left .menu_box ul li a { _padding-top:1px; width:163px; display:block;}

#left .menu_box ul li a:link, 
#left .menu_box ul li a:active, 
#left .menu_box ul li a:visited { color:#555; text-decoration:none; background:url(/hun/images/tcrm/arrow.gif) 158px 2px no-repeat;}
#left .menu_box ul li a:hover { color:#0072bc; background:url(/hun/images/tcrm/arrow_on.gif) 158px 2px no-repeat;}
#left .menu_box ul li.on a { color:#0072bc; font-weight:bold; background:url(/hun/images/tcrm/arrow_on.gif) 158px 2px no-repeat;}

/* contents */
#content .title { position:relative; margin:0 0 10px 0; height:25px; border-bottom:1px solid #d4d5d6;}
#content .title h3 { padding:0 0 0 24px; _padding:1px 0 0 24px; font-size:14px; color:#000; font-weight:bold; background:url(/hun/images/tcrm/bullet_type01.gif) 0 0px no-repeat;}
#content .title span { _padding:1px 0 0 0; position:absolute; top:5px; right:0; font-size:11px; color:#a1a1a1;}

.table_type01 { margin:10px 0;}
.table_type01 table { border-collapse:collapse; width:100%;}
.table_type01 table th { padding:9px 0; font-size:11px; color:#4b4b4b; text-align:center; border:1px solid #bbb; background:#cfcfcf; line-height:1.4em; }
.table_type01 table td { padding:9px 0; font-size:11px; color:#717171; text-align:center; border:1px solid #bbb; background:#fff; line-height:1.4em; }
.table_type01 table tr.gray td { background:#ebebeb;}

.empty { height:80px;}

.form_type01 { margin:10px 0; padding:11px 20px 0 20px; height:30px; color:#4b4b4b; font-size:11px; font-weight:bold; border-left:1px solid #ddddde; border-right:1px solid #ddddde; background:url(/hun/images/tcrm/form_bg.gif) repeat-x; *zoom:1;}
.form_type01:after {content:""; clear:both; display:block;}	
.form_type01 p { float:left; margin:0 40px 0 0; font-size:11px;}

.input_comment { position:absolute; padding:8px; font-size:11px; font-weight:normal; border:1px solid #f26522; background:#fff8f0; line-height:1.2em;}












/* 트로이 cbt 페이징 */
.board_page2 { clear:both; margin-top:20px; overflow:hidden; text-align:center;}
.board_page2 img { vertical-align:top;}
.board_page2 .paging a:link, 
.board_page2 .paging a:visited { border:1px solid #E8E8E8; color:#5C5C5C; display:inline-block; font-size:11px; height:17px; line-height:1.5em; padding:0 5px; text-align:center; font-family:verdana;}
.board_page2 .paging a:hover, 
.board_page2 .paging a:active,
.board_page2 .paging a.on:link, 
.board_page2 .paging a.on:visited,
.board_page2 .paging a.on:hover, 
.board_page2 .paging a.on:active { background-color:#555555; color:#fff;}



/* Button */
.btn_type01,
.btn_type01 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:19px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#fff; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/tcrm/btn_type01.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type01 { margin-right:2px; background-position:left top;}
.btn_type01 *,
.btn_type01 a:link, 
.btn_type01 a:active, 
.btn_type01 a:visited,
.btn_type01 a:hover { cursor:pointer; _cursor:hand; padding:0 12px; font-size:11px; background-position:right top; line-height:1.8em; color:#fff; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}


.btn_type02,
.btn_type02 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:28px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#252525; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/tcrm/btn_type02.gif) no-repeat; vertical-align:top; overflow:visible;}			
.btn_type02 { margin-right:1px; background-position:left top;}
.btn_type02 *,
.btn_type02 a:link, 
.btn_type02 a:active, 
.btn_type02 a:visited,
.btn_type02 a:hover { left:1px; cursor:pointer; _cursor:hand; padding:0 12px; font-size:11px; background-position:right top; line-height:2.6em; color:#252525; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

.btn_type03,
.btn_type03 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:18px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#6c6c6c; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/hun/images/tcrm/btn_type03.gif) no-repeat; vertical-align:top; overflow:visible;}			
.btn_type03 { margin-right:2px; background-position:left top; vertical-align:middle;}
.btn_type03 *,
.btn_type03 a:link, 
.btn_type03 a:active, 
.btn_type03 a:visited,
.btn_type03 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0 7px; font-size:11px; background-position:right top; letter-spacing:-1px; line-height:1.8em; color:#6c6c6c; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}






/* margin & padding */
.marT_10 { margin-top:10px;}
.marT_20 { margin-top:20px;}
.marT_30 { margin-top:30px;}
.marT_40 { margin-top:40px;}
.marT_50 { margin-top:50px;}

/* text */
.red { color:#f22222 !important;}
.orange { color:#f26522 !important;}
.cyan { color:#0080c4 !important;}
.brown { color:#c69c6d !important;}

.t_left { text-align:left !important;}
.t_right { text-align:right !important;}
.t_center { text-align:center !important;}

/* link */
a.link_type01:link, 
a.link_type01:active, 
a.link_type01:visited { color: #333; text-decoration: none;}
a.link_type01:hover { color: #f36;}

.none { display:none;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}/* 말줄임 */






