use SiteManager
go
if object_id('dbo.KWT001_SG_WS_MENU_GRP_ROLE') is not null
begin
	print N'dbo.KWT001_SG_WS_MENU_GRP_ROLE 테이블이 존재 합니다.'
	goto KWT001_SG_WS_MENU_GRP_ROLE
	/**
		truncate table dbo.KWT001_SG_WS_MENU_GRP_ROLE
		drop table dbo.KWT001_SG_WS_MENU_GRP_ROLE
	**/
end

create table dbo.KWT001_SG_WS_MENU_GRP_ROLE
(	auth_grp_no		int			not null
,	menu_grp_no		int			not null
,	menu_no			int			not null
,	read_flag		bit			not null
,	write_flag		bit			not null
,	upt_admin		int			not null
,	ipt_time		datetime	not null
)

-- alter table dbo.KWT001_SG_WS_MENU_GRP_ROLE drop constraint PK_KWT001_SG_WS_MENU_GRP_ROLE_01
alter table dbo.KWT001_SG_WS_MENU_GRP_ROLE
add constraint PK_KWT001_SG_WS_MENU_GRP_ROLE_01
primary key clustered
(	auth_grp_no
,	menu_no
)

-- drop index KWT001_SG_WS_MENU_GRP_ROLE.IX_KWT001_SG_WS_MENU_GRP_ROLE_02
create unique nonclustered index IX_KWT001_SG_WS_MENU_GRP_ROLE_02
on	dbo.KWT001_SG_WS_MENU_GRP_ROLE
(	auth_grp_no
,	menu_no
)
include
(	menu_grp_no
)

truncate table dbo.KWT001_SG_WS_MENU_GRP_ROLE
insert into dbo.KWT001_SG_WS_MENU_GRP_ROLE
values
 (2001002,1001001,1001000,1,0,100000001,getdate())
,(2001002,1001001,1001001,1,1,100000001,getdate())
,(2001002,1001001,1001002,1,1,100000001,getdate())
,(2001002,1001001,1001003,1,1,100000001,getdate())
,(2001002,1001001,1001004,1,1,100000001,getdate())
,(2001002,1001001,1001005,1,1,100000001,getdate())
,(2001002,1001001,1001006,1,1,100000001,getdate())
,(2001002,1001001,1001007,1,1,100000001,getdate())
,(2001002,1001001,1001008,1,1,100000001,getdate())
,(2001002,1001002,1002000,1,0,100000001,getdate())
,(2001002,1001002,1002001,1,1,100000001,getdate())
,(2001002,1001002,1002002,1,1,100000001,getdate())
,(2001002,1001002,1002003,1,1,100000001,getdate())
,(2001002,1001002,1002004,1,1,100000001,getdate())
,(2001002,1001002,1002005,1,1,100000001,getdate())
,(2001002,1001003,1003000,1,0,100000001,getdate())
,(2001002,1001004,1004000,1,0,100000001,getdate())
,(2001002,1001005,1005000,1,0,100000001,getdate())
,(2001002,1001005,1005001,1,1,100000001,getdate())
,(2001002,1001005,1005002,1,1,100000001,getdate())
,(2001002,1001006,1006000,1,0,100000001,getdate())
,(2001002,1001006,1006001,1,1,100000001,getdate())
,(2001002,1001006,1006002,1,1,100000001,getdate())
,(2001002,1001006,1006003,1,1,100000001,getdate())
,(2001002,1001006,1006004,1,1,100000001,getdate())
,(2001002,1001007,1007000,1,0,100000001,getdate())
,(2001002,1001007,1007001,1,1,100000001,getdate())
,(2001002,1001007,1007002,1,0,100000001,getdate())
,(2001002,1001007,1007003,1,1,100000001,getdate())
,(2001002,1001008,1008000,1,0,100000001,getdate())
,(2001002,1001008,1008001,1,0,100000001,getdate())
,(2001002,1001008,1008002,1,0,100000001,getdate())
,(2001002,1001008,1008003,1,0,100000001,getdate())
,(2001002,1001009,1009000,1,0,100000001,getdate())
,(2001002,1001009,1009001,1,1,100000001,getdate())
,(2001002,1001009,1009002,1,1,100000001,getdate())
,(2001002,1001009,1009003,1,1,100000001,getdate())
,(2001002,1001009,1009004,1,1,100000001,getdate())

KWT001_SG_WS_MENU_GRP_ROLE:
go

