use SiteManager
go
if object_id('dbo.KWT001_SG_WS_MENU_GROUP_ROLE') is not null
begin
	print N'dbo.KWT001_SG_WS_MENU_GROUP_ROLE 테이블이 존재 합니다.'
	goto KWT001_SG_WS_MENU_GROUP_ROLE
	/**
		truncate table dbo.KWT001_SG_WS_MENU_GROUP_ROLE
		drop table dbo.KWT001_SG_WS_MENU_GROUP_ROLE
	**/
end

create table dbo.KWT001_SG_WS_MENU_GROUP_ROLE
(	cSiteGroup		smallint	not null
,	cAuthGroup		int			not null
,	cMenuGroup		int			not null
,	cMenuNo			int			not null
,	cIsRead			bit			not null
,	cIsWrite		bit			not null
,	cUpdaterNo		int			not null
,	cCreateTime		datetime	not null
)

-- alter table dbo.KWT001_SG_WS_MENU_GROUP_ROLE drop constraint PK_KWT001_SG_WS_MENU_GROUP_ROLE_01
alter table dbo.KWT001_SG_WS_MENU_GROUP_ROLE
add constraint PK_KWT001_SG_WS_MENU_GROUP_ROLE_01
primary key clustered
(	cAuthGroup
,	cMenuNo
)

-- drop index KWT001_SG_WS_MENU_GROUP_ROLE.IX_KWT001_SG_WS_MENU_GROUP_ROLE_02
create unique nonclustered index IX_KWT001_SG_WS_MENU_GROUP_ROLE_02
on	dbo.KWT001_SG_WS_MENU_GROUP_ROLE
(	cAuthGroup
,	cMenuNo
)
include
(	cSiteGroup
,	cMenuGroup
)


truncate table dbo.KWT001_SG_WS_MENU_GROUP_ROLE

-- Web Member
insert into dbo.KWT001_SG_WS_MENU_GROUP_ROLE
select	cSiteGroup
	,	2001009
	,	cMenuGroup
	,	cMenuNo
	,	cIsRead
	,	cIsWrite
	,	cUpdaterNo
	,	cCreateTime
from	dbo.KWT001_SG_WS_MENU_GROUP_ROLE
where	cMenuGroup between 1001003 and 1001009
	and	cAuthGroup = 2001002

insert into dbo.KWT001_SG_WS_MENU_GROUP_ROLE
values
 (1001,2001009,1001008,1008001,1,0,100000001,getdate())
,(1001,2001009,1001008,1008002,1,0,100000001,getdate())
,(1001,2001009,1001008,1008006,1,0,100000001,getdate())
-- Find Id/Password
,(1001,2001010,1001009,1009001,1,0,100000001,getdate())
,(1001,2001010,1001009,1009002,1,0,100000001,getdate())
-- SignUp
,(1001,2001009,1001010,1010001,1,1,100000001,getdate())
,(1001,2001010,1001010,1010001,1,1,100000001,getdate())


-- Web Guest
insert into dbo.KWT001_SG_WS_MENU_GROUP_ROLE
select	cSiteGroup
	,	2001010
	,	cMenuGroup
	,	cMenuNo
	,	cIsRead
	,	cIsWrite
	,	cUpdaterNo
	,	cCreateTime
from	dbo.KWT001_SG_WS_MENU_GROUP_ROLE
where	cMenuGroup between 1001003 and 1001009
	and cMenuGroup != 1001008
	and	cAuthGroup = 2001002

delete
from	dbo.KWT001_SG_WS_MENU_GROUP_ROLE
where	cMenuNo = 1004001
	and	cAuthGroup in (2001009,2001010)

delete
from	dbo.KWT001_SG_WS_MENU_GROUP_ROLE
where	cAuthGroup = 2001010
	and	cMenuNo between 1007006 and 1007010

KWT001_SG_WS_MENU_GROUP_ROLE:
go

