@Charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,select { 
	margin:0;
	padding:0;
	border:0;
	font-family:Verdana;
}

table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
abbr,acronym {border:0;}

.f_l { float:left; display:block; }
.f_r { float:right; display:block; }
.d_ib { display:inline-block; }
.c_b { clear:both; }
.of_h { overflow:hidden; }

.event_basic { width:635px; }
	.event_basic li img { vertical-align:bottom; }


