@charset "utf-8";
*{ margin:0; padding:0; -webkit-text-size-adjust:none;}
/* CSS Document */
/* Reset */
html{} 

body { line-height:normal; font-size:12px; font-family:Verdana, Helvetica, AppleGothic, Sans-serif; color:#333;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; font-size:12px; font-family:Verdana, Helvetica, AppleGothic, Sans-serif; }
ol, ul, li { list-style:none;}
h1, h2, h3, h4, h5, h6 { font-size :normal 100%; line-height:normal;}
form, fieldset, img { margin:0; padding: 0; border:0;}
input,select, img { vertical-align:middle;}
address, caption, em { font:normal;}
hr, caption, legend, summary { display:none;}
.comment { position:absolute; display:none;}
.png24 { _tmp:expression(setPng24(this));}

input { padding:0 2px; height:19px; font-size:12px; color:#333; line-height:1.6em; border:1px solid #b5b5b5; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}
input.radio,
input.check { margin:0; padding:0; width:13px; height:13px; line-height:normal; border:0;}
textarea { padding:2px; font-size:12px; color:#333; line-height:1.6em; border:1px solid #b5b5b5; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}
select { border:1px solid #b5b5b5;}
select.basic { padding:0px; height:20px; font-size:12px; color:#333; line-height:1; border:1px solid #b5b5b5; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}

a:link, 
a:active, 
a:visited { color:#555; text-decoration:none;}
a:hover { color:#0072bc;}
a {outline:none; select-dummy: expression(this.hideFocus=true);}

body { background:#0c0c0c;}
.main_bg_01 { background:#0c0c0c url(/_common/_images/us/12sky2/main/main_bg_01.jpg) center 0 no-repeat fixed; _background:#0c0c0c url(/_common/_images/us/12sky2/main/main_bg_01.jpg) center -40px no-repeat;}

/* gnb
#gnb_en { position:relative; height:40px; background:url(/images/us/portal/gnb/gnb_bg.gif) repeat-x; z-index:50;}
.fixed { position:fixed !important; _position:absolute; top:0; width:100%;}
#gnb_en .gnb_wrap { margin:0 auto; width:980px; *zoom:1;}
#gnb_en .gnb_wrap:after { content:""; clear:both; display:block;}
#gnb_en .gnb_logo { float:left; margin:0; padding:0;}
#gnb_en .gnb_logo li { float:left; margin:6px 0 0 0; padding:0 10px 0 0; background:none; line-height:1; list-style:none;}
.gnb_cs { float:right; padding:0 0 2px 0; *zoom:1;}
.gnb_cs:after { content:""; clear:both; display:block;}
.gnb_cs li { float:left; position:relative; margin:12px 0 0 0; padding:0 12px 0 10px; font-family:verdana; color:#363636; font-size:11px; font-weight:bold; line-height:1; background:url(/images/us/portal/gnb/gnb_bar.gif) left 2px no-repeat;}
.gnb_cs li:first-child { background:none;}
.gnb_cs li span { color:#00b4ef;}
.gnb_cs li a:link,
.gnb_cs li a:active, 
.gnb_cs li a:visited { color:#363636; text-decoration:none;}
.gnb_cs li a:hover { color:#363636; text-decoration:underline;}
.gnb_cs li a.my:link,
.gnb_cs li a.my:active, 
.gnb_cs li a.my:visited { padding:0 12px 0 0; margin:0 10px 0 0; color:#d0454b; text-decoration:none; background:url(/images/us/portal/gnb/arrow_gnb_red.gif) right 6px no-repeat;}
.gnb_cs li a.my:hover { color:#d0454b; text-decoration:underline;}
.gnb_cs li a.arrow:link,
.gnb_cs li a.arrow:active, 
.gnb_cs li a.arrow:visited { padding:0 12px 0 0; background:url(/images/us/portal/gnb/arrow_gnb_gray.gif) right 6px no-repeat;}
.gnb_cs li a.arrow:hover {}

.gnb_2depth { position:absolute; top:20px; left:0px; width:110px; border:1px solid #7d7d7d; background:#ebebeb;}
.gnb_2depth ul { padding:3px 10px 10px 10px; border:1px solid #fff;}
.gnb_2depth ul li { float:none; clear:both; margin:0; padding:5px 0 5px 13px; color:#363636; line-height:1.2em; border-top:1px solid #b5b4b1; background:url(/images/us/portal/gnb/gnb_2depth_bullet.gif) 4px 10px no-repeat !important;}
.gnb_2depth ul li:first-child { border:none;}
.gnb_2depth ul li a:link,
.gnb_2depth ul li a:active, 
.gnb_2depth ul li a:visited { color:#363636; text-decoration:none; font-size:10px; font-weight:normal;}
.gnb_2depth ul li a:hover { color:#363636; text-decoration:underline;}
 */
h1 { display:none;}

/* layout */
#wrap,
#wrap_sub { margin:0 auto 50px auto; width:980px;}
#wrap #header,
#wrap_sub #header { position:relative; height:260px; z-index:20;}
#wrap #container,
#wrap_sub #container { background:#000;}

/* main */
#wrap #container #top { position:relative; height:300px; background:#000 url(/_common/_images/us/12sky2/main/event_movie_bg.jpg) no-repeat; *zoom:1;}
#wrap #container #top:after {content:""; clear:both; display:block;}
#wrap #container #content { background:#000 url(/_common/_images/us/12sky2/main/content_bg.jpg) repeat-y;}
#wrap #container #content .c_top { background:url(/_common/_images/us/12sky2/main/content_bg_top.jpg) 0 top no-repeat;}
#wrap #container #content .c_bot { padding:6px 6px 30px 6px; background:url(/_common/_images/us/12sky2/main/content_bg_bot.jpg) 0 bottom no-repeat; *zoom:1;}/* last */
#wrap #container #content .c_bot:after { content:""; clear:both; display:block;}
#wrap #container #content #center { float:left; width:628px;}
#wrap #container #content #right { float:right; padding:0 40px; width:260px; min-height:1390px; _height:1390px; background:url(/_common/_images/us/12sky2/main/con_right_bg.jpg) left top no-repeat;}
/*#wrap #container #content #right { float:right; padding:0 40px; width:260px; min-height:690px; _height:690px; background:url(/_common/_images/us/12sky2/main/con_right_bg.jpg) no-repeat;}*/
/* sub */
#wrap_sub #container #content { background:#000 url(/_common/_images/us/12sky2/main/content_bg.jpg) repeat-y;}
#wrap_sub #container #content .c_top { background:url(/_common/_images/us/12sky2/main/content_bg_top.jpg) 0 top no-repeat;}
#wrap_sub #container #content .c_bot { padding:18px; background:url(/_common/_images/us/12sky2/main/content_bg_bot.jpg) 0 bottom no-repeat; *zoom:1;}/* last */
#wrap_sub #container #content .c_bot:after { content:""; clear:both; display:block;}
#wrap_sub #container #content #left { float:left; width:218px;}
#wrap_sub #container #content #center { float:right; width:714px; background:url(/_common/_images/us/12sky2/sub/content_cen_bg.jpg) repeat-y;}
#wrap_sub #container #content #center .cen_top { background:url(/_common/_images/us/12sky2/sub/content_cen_bg_top.jpg) 0 top no-repeat;}
#wrap_sub #container #content #center .cen_bot { padding:40px 39px 40px 40px; background:url(/_common/_images/us/12sky2/sub/content_cen_bg_bottom.jpg) 0 bottom no-repeat;}

/* header ************/
#header .logo { padding:30px 0 0 0; height:137px; text-align:center;}
/* navi */
#header .nav { padding:0 15px; height:93px; background:#000 url(/_common/_images/us/12sky2/main/nav_bg.jpg) no-repeat; *zoom:1;}
#header .nav:after {content:""; clear:both; display:block;}
.nav div { position:relative; float:left; margin:15px 0; padding:15px 0; width:190px; height:33px; text-align:center; background:url(/_common/_images/us/12sky2/main/nav_bar.jpg) right 0 no-repeat;}
.nav div.bg { position:absolute; top:48px; left:-2px; padding:1px 0 0 0; width:auto; height:auto; border:1px solid #000; background:url(/_common/_images/us/12sky2/main/nav_sub_bg.jpg) no-repeat;}/* 1px line */
.nav ul { padding:10px 10px 10px 20px; width:188px; background:url(/_common/_images/us/12sky2/main/nav_sub_bg.jpg) 0 bottom no-repeat;}
.nav ul li { padding:6px 0 6px 20px; text-align:left; line-height:1.2em; background:url(/_common/_images/us/12sky2/main/nav_bullet.gif) 0 10px no-repeat; word-break:break-all; word-wrap:break-word;}
.nav ul li a:link,
.nav ul li a:active,
.nav ul li a:visited { color:#9d9d9d; text-decoration:none;}
.nav ul li a:hover { color:#f7941d; font-weight:bold;}
.nav .nav_download { padding:12px 0 0 0; width:176px; height:51px; background:none;}
.mbg { display:none; position:absolute; top:0; left:200px; width:800px; height:260px; background:url(/images/ko/mong/obt/main/top_menu_bg.png) 0 bottom no-repeat; _background:none;}

/* top ************/
/* event */
.event { float:left; position:relative; padding:6px; width:639px;}
.event h2 { display:none;}
.event .roll_img { float:right; width:523px; height:288px;}
.event .roll_img ul { }
.event .roll_img ul li { position:relative; cursor:pointer;}
.event .roll_img ul li p.img { }
.event .roll_img ul li p.txt { position:absolute; left:0; top:203px; padding:20px 0 15px 25px; width:498px; height:50px; color:#c0c0c0; line-height:1.2em; background:#000; filter:alpha(opacity=70); opacity:0.7;}
.event .roll_img ul li p.txt span { display:block; height:25px; color:#fff; font-size:18px; font-weight:bold;}
.event .roll_img ul li p.trans { position:absolute; top:0; left:0;}
.event .roll_btn { position:absolute; top:30px; left:25px; width:76px;}
.event .roll_btn .btn_pre { margin:0 0 10px 0;}
.event .roll_btn .btn_next { margin:10px 0 0 0;}
.event .roll_btn ul { }
.event .roll_btn ul li { margin:0 0 1px 0; border:1px solid #39383b;}
.event .roll_btn ul li.on { border:1px solid #2576f0;}
/* movie */
.movie { float:right; padding:10px 0; _padding:10px 10px 10px 0; width:329px; _width:309px; text-align:center;}
.movie h2 { display:none;}

/* banner 
.quick_list { padding:5px; height:51px; background:#ccc url(/_common/_images/us/12sky2/main/quick_bg.jpg) no-repeat;}
.quick_list ul { margin:0 -5px 0 0; width:975px; overflow:hidden; *zoom:1;}
.quick_list ul:after { content:""; clear:both; display:block;}
.quick_list ul li { float:left; margin:0 5px 0 0; width:190px; height:51px;}   
*/

/* content ************/
/* MAIN */
.news_list_main {}
.news_list_main h2 { display:none;}
/* 메인서브공통 */
.article {}
.article li { padding:40px 25px 40px 40px; background:url(/_common/_images/us/12sky2/main/article_bg.jpg) no-repeat;}/* padding:40px 25px 0 40px; height:255px; */
.article li .date { margin:0 0 20px 0; color:#857265; font-size:11px;}
.article li .date span { color:#f26522;}
.article h4 { margin:0 0 15px 0; color:#f3e6d0; font-size:24px; font-weight:normal; font-family:verdana;}
.article h4 a:link,
.article h4 a:active,
.article h4 a:visited { color:#f3e6d0; font-size:24px; text-decoration:none; font-family:verdana;}
.article h4 a:hover { color:#f3e6d0; text-decoration:underline;}
.article dl { position:relative; *zoom:1;}
.article dl:after { content:""; clear:both; display:block;}
.article dt { float:left; margin:0 20px 0 0; width:152px; height:132px; border:1px solid #5d4b28; background:#000;}
.article dt img { width:150px; height:130px; border:1px solid #050402;}
.article dd { text-align:justify; line-height:2em; word-break:break-all; word-wrap:break-word;}
.article dd .more { position:absolute; left:174px; bottom:0;}
.article dd .e_date { color:#000; font-weight:bold; line-height:1.4em;}
.article dd a:link,
.article dd a:active,
.article dd a:visited { color:#c9bc94; font-size:12px; text-decoration:none;}
.article dd a:hover { color:#c9bc94; text-decoration:underline;}

/* right ************/
/* sns */
.sns_facebook { margin:80px auto 20px auto;}
.sns_facebook h2 { margin:0 0 12px 0; text-align:center; color:#c7b299; font-size:14px;}
.ri_box_t { padding:1px 0 0 0; background:url(/_common/_images/us/12sky2/main/fb_bg.jpg) 0 top no-repeat;}
.ri_box_b { padding:15px; background:url(/_common/_images/us/12sky2/main/fb_bg.jpg) 0 bottom no-repeat;}/**************************** 패딩과 높이는 난중에 */

/*
.social { position:relative; margin:0 0 20px 0;}
.social h2 { position:absolute; top:25px; left:15px; color:#c7b299; font-size:12px;}
.social ul { text-align:right;}
.social ul li { display:inline;} */

.social { margin:0 0 20px 0; clear:both; }
.social h2 { float:left; padding-top:6px; color:#c7b299; font-size:12px; height:25px; padding-right:60px; display:inline; }
.social .tit { padding-top:6px; color:#c7b299; font-size:12px;padding-right:60px; font-weight:bold; }
.social img { margin-right:5px; }
.social ul { display:inline-block; }
.social ul li { float:left; }

.academia { margin:0 0 20px 0; clear:both; }
.academia h2 { margin:0 0 10px 0; color:#c7b299; font-size:12px;}
.academia p { }
.academia p input { padding:0 2px; height:24px; font-size:11px; color:#333; line-height:2em; border:none; background:#aca299; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}

.main_rank { margin:0 0 20px 0; clear:both;}
	.main_rank .select_server { margin:10px 0 3px 0; }
	.main_rank .select_server	select { width:227px;}
	.main_rank h2 { margin-bottom:7px; text-align:center; color:#c7b299; font-size:12px;font-family:Verdana;}
	.main_rank ul { display:inline-block; }
	.main_rank li { font-size:11px; color:#f3e6d0; font-family:verdana; display:inline-block; }
	.main_rank .txt_war_th { color:#998675; width:123px; }
	.main_rank .txt_guild_th { color:#998675; width:35px; }
	.main_rank .txt_personal_th { color:#998675; width:70px; }
	.main_rank .txt_lv { color:#998675; font-size:10px; padding-left:4px; }
	.main_dot_line_mr_3 { clear:both; width:100%; height:15px; background:url(/_common/_images/us/12sky2/main/dot_line.gif) 9px repeat-x; }
	.main_rank a:link,
	.main_rank a:active,
	.main_rank a:visited { color:#c7b299; }
	.main_rank a:hover { color:#f7941d; text-decoration:underline; }




/* SUB */
/* default */
.title { position:relative; margin:0 0 20px 0; height:45px; border-bottom:1px solid #1a180c;}
.title h3 { padding:0 0 10px 0; color:#000; font-weight:normal; font-size:30px; font-family:verdana;}
.title span { position:absolute; bottom:10px; right:0; color:#595959; font-size:10px;}
.title span strong { color:#2c190a;}

.lnb { margin:0 auto 10px auto; padding:0 0 1px 0; background:url(/_common/_images/us/12sky2/sub/lnb_bg.jpg) 0 bottom no-repeat;}
.lnb .bot_bg { padding:20px 20px 50px 20px; background:url(/_common/_images/us/12sky2/sub/lnb_bg.jpg) 0 top no-repeat;}
.lnb h2 { margin:0 0 10px 0; padding:14px 0 0 0; height:30px; font-family:verdana; font-size:20px; color:#000202; text-align:center; font-weight:normal; line-height:1; background:url(/_common/_images/us/12sky2/sub/lnb_tit_bg.jpg) no-repeat;}
.lnb ul {}
.lnb ul li { padding:7px 0 7px 30px; line-height:1.2em; background:url(/_common/_images/us/12sky2/sub/lnb_bullet_2depth.gif) 10px 10px no-repeat;}
.lnb ul li a:link,
.lnb ul li a:active,
.lnb ul li a:visited { color:#c7b299; font-size:12px; text-decoration:none;}
.lnb ul li a:hover { color:#f7941d; font-weight:bold;}

.lnb ul li a.on:link,
.lnb ul li a.on:active,
.lnb ul li a.on:visited,
.lnb ul li a.on:hover { color:#f7941d; font-weight:bold;}

.lnb ul li ul { margin:5px 0 0 0;}
.lnb ul li ul li { padding:3px 0 3px 10px; font-weight:normal; line-height:1.2em; background:url(/_common/_images/us/12sky2/sub/lnb_bullet_3depth.gif) 0 10px no-repeat;}
.lnb ul li ul li a:link,
.lnb ul li ul li a:active,
.lnb ul li ul li a:visited { color:#c1c1c1; font-size:11px; font-weight:normal; text-decoration:none;}
.lnb ul li ul li a:hover { color:#eae9e9; font-weight:bold;}

.lnb ul li ul li.on a:link,
.lnb ul li ul li.on a:active,
.lnb ul li ul li.on a:visited,
.lnb ul li ul li.on a:hover { color:#eae9e9; font-weight:bold;}

.academia_sub { margin:0 0 20px 0; padding:15px; border:1px solid #6d4d38; background:url(/_common/_images/us/12sky2/sub/sub_academia_bg.jpg) repeat;}
.academia_sub h2 { margin:0 0 10px 0; color:#c7b299; font-size:12px;}
.academia_sub p { }
.academia_sub p input { padding:0 2px; height:24px; font-size:11px; color:#333; line-height:2em; border:none; background:#aca299; font-family:Verdana, Helvetica, AppleGothic, Sans-serif;}

.page_top { margin:50px 0 0 0; padding:6px 0 0 0; text-align:right; border-top:1px solid #1a180c;}

/* news,event list */
.news_list_sub .article li { margin:0 0 15px 0; padding:0 25px 20px 0; border-bottom:1px dashed #96907e; background:none;}
.news_list_sub .article h4 { margin:0 0 15px 0; color:#000; font-size:24px; font-weight:normal; font-family:verdana;}
.news_list_sub .article h4 a:link,
.news_list_sub .article h4 a:active,
.news_list_sub .article h4 a:visited { color:#000; font-size:24px; text-decoration:none; font-family:verdana;}
.news_list_sub .article h4 a:hover { color:#000; text-decoration:underline;}
.news_list_sub .article dd a:link,
.news_list_sub .article dd a:active,
.news_list_sub .article dd a:visited { color:#000; font-size:12px; text-decoration:none;}
.news_list_sub .article dd a:hover { color:#000; text-decoration:underline;}

.depth3_select { margin:0 0 10px 0; padding:0 20px; height:60px; background:url(/_common/_images/us/12sky2/sub/depth3_select_bg.jpg) no-repeat;}
.depth3_select p { padding:15px 0 0 0;}

.article_body { line-height:1.6em;}
.not_post { padding:80px 0 !important; text-align:center;}

/* multimedia */
.multi2 { border-bottom:1px dashed #96907e; *zoom:1;}
.multi2:after { content:""; clear:both; display:block;}
.multi2 dl { position:relative; float:left; margin:0 19px 19px 0; width:222px; cursor:pointer;}
.multi2 dl dt { height:136px;}
.multi2 dl dt.play { position:absolute; top:0; left:0;}
.multi2 dl dd { background-color:#201e1e; font-size:11px; height:16px; padding:10px 10px; text-align:justify; line-height:150%; color:#8c897d; word-break:break-all; word-wrap:break-word;}
.multi2 dl dd.member { background:none; font-size:12px; height:auto; padding:8px 0 0 0; line-height:1; color:#8b8b8b;}
.multi2 dl dd.member span { font-size:11px; color:#bababa;}
.multi2 dl dd.member span img { margin:-2px 3px 0 0;}
.multi2 dl dd.member .c_red { margin:0 0 0 8px; color:#b5373b;}
.multi2 dl dd.member .c_blue { margin:0 0 0 8px; color:#0072bc;}	
.multi2 dl dd.member2 { background:none; font-size:12px; height:auto; padding:8px 0 0 0; line-height:1; color:#898989; font-weight:bold;}/* 몽환천교 */
.multi2 dl dd.member2 .c_gray { margin:0 0 0 5px; font-size:11px; color:#acacac; font-weight:normal;}
.multi2 dl dd.member2 .c_gray span { color:#00aeef; font-weight:normal; letter-spacing:normal;}
.multi2 dl dd .tit_category { margin-right:3px;}	
.multi2 dl dd.date { background:none; font-size:11px; height:auto; padding:8px 0 0 0; line-height:1; color:#8b8b8b; font-family:verdana;}
.multi2 dl dd.date img { margin:-2px 5px 0 0;}
.multi2 dl .on { background-color:#448ccb; color:#fff;}

.multi_pop { position:absolute; z-index:10; background-color:#000; padding:30px 30px;}
.multi_pop h1 { margin-top:10px; font-size:18px; font-weight:bold; color:#acacac; font-family:Verdana;}
.multi_pop ul { margin-top:5px;}
.btn_x { position:absolute; top:5px; right:5px;}
.btn_see { position:absolute; bottom:50px; right:30px;}

.ost_list {}
.ost_list table { width:100%;}
.ost_list table thead tr { background:url(/_common/_images/us/12sky2/sub/ost_th_bg.jpg) no-repeat;}
.ost_list table th { height:37px; color:#d5d0bd; font-size:10px; text-align:center; background:url(/_common/_images/us/12sky2/sub/ost_bar.gif) left 12px no-repeat; .background-color:#272727;}
.ost_list table th:first-child { background:none;.background-color:#272727;}
.ost_list table tbody tr { background:url(/_common/_images/us/12sky2/sub/ost_line.gif) 0 bottom repeat-x;}
.ost_list table td { height:46px; color:#2d2c28;}
.ost_list table td.no { font-size:10px; color:#727076; text-align:center;}
.ost_list table td.tit { padding-left:20px;}
.ost_list table td.date { padding-right:5px; text-align:right;}
.sound_info { text-align:right; font-weight:bold; color:#333; font-size:11px; line-height:1;}
.sound_info img { margin-top:-3px;}

















/* 페이징 */
.board_page2 { clear:both; overflow:hidden; text-align:center; line-height:1; letter-spacing:-1px;}
.board_page2 img { vertical-align:top; border:1px solid #b0b0b0;}
.board_page2 .paging a:link, 
.board_page2 .paging a:visited { border:1px solid #b0b0b0; color:#404040; display:inline-block; font-size:11px; height:22px; line-height:2em; padding:0 8px; text-align:center; font-family:verdana;}
.board_page2 .paging a:hover, 
.board_page2 .paging a:active,
.board_page2 .paging a.on:link, 
.board_page2 .paging a.on:visited,
.board_page2 .paging a.on:hover, 
.board_page2 .paging a.on:active { border:1px solid #404040; background-color:#404040; color:#d5d0bd;}

/* 레이어팝업 */
.layer_pop { position:absolute; padding:10px; width:450px; border:1px solid #a3620a; background:#ffba00;}
.layer_pop .content_pop { position:relative; padding:20px; _width:100%; border:1px solid #fff3d1; background:#fff;}
.layer_pop h4 { margin:0 0 20px 0; height:52px; text-align:center; background:url(/images/ko/mong/obt/sub/pop_titbg.gif) center bottom no-repeat;}
.layer_pop .close { position:absolute; top:10px; right:10px;}

/* footer */
#footer { padding:35px 0; background:#1a1a1a;}
#footer .f_wrap { margin:0 auto; width:980px; *zoom:1;}
#footer .f_wrap:after {content:""; clear:both; display:block;}
#footer p { float:left; color:#979797; font-size:11px;}
#footer p img { margin:0 15px 0 0;}
#footer p span { color:#dbdbdb;}
#footer ul { float:right; overflow:hidden;}
#footer ul li { display:inline; margin:0 0 0 -1px; padding:0 7px 0 8px; background:url(/_common/_images/us/12sky2/main/foot_bar.gif) left 3px no-repeat; line-height:1;}
#footer a:link, 
#footer a:active, 
#footer a:visited { color:#bdbdbd; font-family:verdana; font-size:10px; text-decoration:none;}
#footer a:hover { color:#bdbdbd; text-decoration:underline;}



/* margin & padding */
.marT_10 { margin-top:10px;}
.marT_20 { margin-top:20px;}
.marT_30 { margin-top:30px;}
.marT_40 { margin-top:40px;}
.marT_50 { margin-top:50px;}
.marB_10 { margin-bottom:10px;}
.marB_20 { margin-bottom:20px;}

.t_left { text-align:left !important;}
.t_right { text-align:right !important;}
.t_center { text-align:center !important;}

/* link */
a.link_type01:link, 
a.link_type01:active, 
a.link_type01:visited { color:#333; text-decoration: none;}
a.link_type01:hover { color:#f36;}

.none { display:none;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}/* 말줄임 */

/* 모달창 */
#simplemodal-overlay { background-color:#000; cursor:wait; filter:alpha(opacity=70) !important;}/* simple modal Overlay */
/*#simplemodal-container { background-color:#202020;} simple modal Container */
.layer_close { padding:6px 6px 6px 0; text-align:right;}/* 레이어닫기 버튼 */



/* 게시판 사이즈(720px) */
.board_basic,
.board_view_basic,
.board_view_basic div,
.board_event_list2,
.board_event_list2 .list,
.board_search,
.board_event_view2,
.board_event_view2 .body,
.reply2,
.board_user,
.board_user_view,
.board_user_view .date,
.board_user_view .writer,
.board_user_view .tit,
.board_user_view .body,
.board_event_view,
.board_event_view .body,
.board_event_view .info,
.board_event_view .tit { width:auto !important;}

.board_basic table,
.board_user table { width:100% !important;}

.reply2 .reply_text { width:590px !important;}
.board_event_list2 .event_text { width:480px !important;}
.commentReplay,
.commentReplay2 { width:680px !important;}
.commentReplay .prphoto,
.commentReplay2 .prphoto { width:586px !important;}
.board_btn { width:720px !important;}


/* 폼 유효성체크 */
.formInfoMsg { position:absolute; padding:8px; font-size:12px; font-weight:bold; border:3px solid #f26522; background:#fff8f0; line-height:1.2em;}
.i.formInfoMsg { position:absolute; padding:8px; font-size:12px; font-weight:bold; border:3px solid #0ec21f; background:#fff8f0; line-height:1.2em;}

@media all and (max-width:1024px) {
	.flower { display:none;}
}

/* 2013 1  */
blockquote{margin:1em 40px;position:relative;border:1px solid #999;page-break-inside:avoid;font-family:Georgia,Times,"Times New Roman",serif;font-style:italic;}
blockquote:before{content:"\201C";font-size:40px;line-height:40px;position:absolute;left:-40px;width:40px;text-align:center;color:#666;}



/* 2013 1-15  */
.result_title { font-size:14px; color:#333; }
.result_tag { color:#FF6600; font-weight:bold; text-decoration:underline;}
.result_list { margin-bottom:15px;}
.result_list table { width:100%;}
.result_list table tbody tr { background:url(/_common/_images/us/12sky2/sub/ost_line.gif) 0 bottom repeat-x;}
.result_list table td { font-size:12px; color:#727076; text-align:left; line-height:19px; padding:10px;}


/* 2013 1-23  */
.btn_type01,
.btn_type01 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:30px; font-weight:bold; color:#252525; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/_common/_images/us/12sky2/sub/btn_type01.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type01 { margin-right:2px; background-position:left top;  vertical-align:middle;}
.btn_type01 *,
.btn_type01 a:link, 
.btn_type01 a:active, 
.btn_type01 a:visited,
.btn_type01 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0px 10px 0 8px; font-size:12px; background-position:right top; line-height:2.6em; color:#252525; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

.btn_type02,
.btn_type02 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:28px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#252525; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/_common/_images/us/12sky2/sub/btn_type02.gif) no-repeat; vertical-align:top; overflow:visible;}			
.btn_type02 { margin-right:1px; background-position:left top;}
.btn_type02 *,
.btn_type02 a:link, 
.btn_type02 a:active, 
.btn_type02 a:visited,
.btn_type02 a:hover { left:1px; cursor:pointer; _cursor:hand; padding:0 12px; font-size:11px; background-position:right top; line-height:2.6em; color:#252525; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

.btn_type03,
.btn_type03 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:18px; font-size:11px; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif; color:#6c6c6c; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/_common/_images/us/12sky2/sub/btn_type03.gif) no-repeat; vertical-align:top; overflow:visible;}			
.btn_type03 { margin-right:2px; background-position:left top; vertical-align:middle;}
.btn_type03 *,
.btn_type03 a:link, 
.btn_type03 a:active, 
.btn_type03 a:visited,
.btn_type03 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0 7px; font-size:11px; background-position:right top; letter-spacing:-1px; line-height:1.8em; color:#6c6c6c; font-family:dotum, Verdana, Helvetica, AppleGothic, Sans-serif;}

.btn_type04,
.btn_type04 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:22px; font-family:Verdana, Helvetica; color:#fefefe; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/_common/_images/us/12sky2/sub/btn_type04.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type04 { margin-right:2px; background-position:left top;  vertical-align:middle;}
.btn_type04 *,
.btn_type04 a:link, 
.btn_type04 a:active, 
.btn_type04 a:visited,
.btn_type04 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0px 20px 0 18px; text-align:center; font-size:10px; background-position:right top; line-height:2em; color:#fefefe; font-family:Verdana, Helvetica;}

.btn_type05,
.btn_type05 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:22px; font-family:Verdana, Helvetica; color:#333; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/_common/_images/us/12sky2/sub/btn_type05.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type05 { margin-right:2px; background-position:left top;  vertical-align:middle;}
.btn_type05 *,
.btn_type05 a:link, 
.btn_type05 a:active, 
.btn_type05 a:visited,
.btn_type05 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0px 20px 0 18px; text-align:center; font-size:10px; background-position:right top; line-height:2em; color:#333; font-family:Verdana, Helvetica;}

.btn_type06,
.btn_type06 *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; height:58px; font-family:Verdana, Helvetica; color:#FFFFFF; text-decoration:none !important; line-height:1;	white-space:nowrap; border:0;	background:url(/_common/_images/us/12sky2/sub/btn_type06.gif) repeat-x; vertical-align:top; overflow:visible;}			
.btn_type06 { margin-right:2px; background-position:left top;  vertical-align:middle;}
.btn_type06 *,
.btn_type06 a:link, 
.btn_type06 a:active, 
.btn_type06 a:visited,
.btn_type06 a:hover { left:2px; cursor:pointer; _cursor:hand; padding:0px 30px 0 28px; text-align:center; font-size:12px; font-weight:bold; background-position:right top; line-height:4.4em; color:#FFFFFF; font-family:Verdana, Helvetica;}


/* signup, download */
.quick_list { height:101px; background:#000 url(/_common/_images/us/12sky2/main/middle_banner.jpg) no-repeat;}
.quick_list ul li { float:left; margin-top:43px; font-family:Verdana; font-size:18px; font-weight:bold; color:#FFF; text-align:center;}
.quick_list a:link, 
.quick_list a:active, 
.quick_list a:visited { color:#FFF; }
.quick_list a:hover { color:#FF3; }

	/* 핫아이템 */
	.hot_item { margin:0 0 20px 0; padding:0 0 20px 0; border:10px solid #ececec; border-top:none; text-align:center;}
	.hot_item h3 { text-align:center; background:#ececec;}
	.hot_item .list { margin:24px auto 0 auto; .margin:24px 0 0 85px; display:inline-block; *zoom:1;}
	.hot_item .list:after { content:""; clear:both; display:block;}
	.hot_item .list dl { float:left; position:relative; padding:0 15px; width:70px;}
	.hot_item .list dl a:link,
	.hot_item .list dl a:visited,
	.hot_item .list dl a:active { color:#363636;}
	.hot_item .list dl a:hover { color:#0072bc;}
	.hot_item .list dt { margin-bottom:3px; padding-top:21px; height:56px; text-align:center; background:url(/_common/_images/us/12sky2/sub/m_hotitem_bg.jpg) 0 bottom no-repeat;}
	.hot_item .list dd { font-size:11px; color:#363636; text-align:center; line-height:1.2em; letter-spacing:-1px; word-break:break-all; word-wrap:break-word;}
	.hot_item .list dd span { color:#959595; line-height:20px;}
	.hot_item .list dd.icon { position:absolute; top:0; left:29px;}
	
	.item_list_tit { width:635px; margin-bottom:10px; vertical-align:middle; font-size:14px; font-weight:bold; color:#4d4d4d; }
		.item_list_tit .bar { margin:0 10px; }
	.item_list_basic { width:635px; color:#777777; }
		.item_list_basic table { width:635px; margin-bottom:20px; border-left:1px solid #e6e2e1; border-top:1px solid #e6e2e1; border-bottom:1px solid #b2b2b2; }
		.item_list_basic th { border-right:1px solid #e6e2e1; border-bottom:1px solid #e6e2e1; height:26px; background:#eae5e1; color:#9e8475; font-weight:bold; }
		.item_list_basic td { border-right:1px solid #e6e2e1; border-bottom:1px solid #e6e2e1; height:40px; font-size:11px; text-align:center; line-height:14px; }
		.item_list_basic span { color:#f7941d; font-weight:bold; font-family:verdana; font-size:10px; }
		.item_list_basic .item_img { background:#f9f8f6; }
		.item_list_basic .item_name { font-size:12px; font-weight:bold; }
		.item_list_basic .text_att { letter-spacing:-1px; }
		.item_list_basic .item_price { color:#f7941d; font-weight:bold; font-family:verdana; font-size:11px; vertical-align:middle; }
		.item_list_basic .text_basic { padding:10px 15px; text-align:left; line-height:16px;}
	.item_list_common { width:635px; color:#777777; }
		.item_list_common table { width:635px; margin-bottom:20px; border-left:1px solid #e6e2e1; border-top:1px solid #e6e2e1; }
		.item_list_common th { border-right:1px solid #e6e2e1; border-bottom:1px solid #e6e2e1; height:26px; background:#eae5e1; color:#9e8475; font-weight:bold; }
		.item_list_common td { border-right:1px solid #e6e2e1; border-bottom:1px solid #e6e2e1; padding:7px; font-size:11px; line-height:14px; }
		.item_list_common .item_img { background:#f9f8f6; text-align:center; }
		.item_list_common .item_name { font-weight:bold; }
		
/* Download */
.download { }
	.download a:link,
	.download a:visited,
	.download a:active { color:#000; text-decoration:underline; }
	.download a:hover { color:#0072bc; }
.download h4 { margin:0 0 15px 0; font-size:24px; font-weight:normal; font-family:verdana;}
.download h5 { font-size:12px; color:#f26522; font-weight:bold; font-family:verdana; margin-bottom:5px;}
	.download .box01 { background:#efefef; padding:12px; border:1px solid #dddddd; font-family:verdana; font-size:11px; line-height:160%; margin-bottom:20px; }
	.download .box02 { font-size:11px; line-height:160%; font-family:verdana; }
	.download .box02 strong { color:#f26522; }
	.download .box02 .img_mg { margin-right:10px; margin-top:10px; }	
	.download .box02 .img_mg { margin-right:10px; margin-top:10px; }		
	.download .line { width:100%; height:3px; background-color:#CCC; margin:20px 0;}		
	.download .txt_left { padding-left:12px; font-size:12px; font-weight:bold; font-family:verdana; line-height:140%; width:315px; display:inline-block; }	
	.download .txt_left	span { color:#06C; }
	
/* Event Calendar */

.calendar_top { width:628px; height:118px; clear:both; border:1px solid #555555; background-color:#f5f5f5; position:relative; }
	.calendar_top .txt { position:absolute; left:50px; top:40px; width:530px; text-align:center; font-size:30px; color:#000;  }
	.calendar_top .txt_year { color:#959595; }
	.calendar_top .btn_prev { position:absolute; top:25px; left:10px; }
	.calendar_top .btn_next { position:absolute; top:25px; right:10px; }

.calendar_body { width:630px; clear:both; }
	.calendar_body table { width:630px; border-right:1px solid #555555; border-bottom:1px solid #555555;}
	.calendar_body th { width:90px; height:40px; border-left:1px solid #555555; border-top:1px solid #555555; font-size:12px; background:url(/_common/_images/us/12sky2/sub/calendar_th_bg.jpg) repeat-x bottom; }
	.calendar_body td { width:90px; height:90px; border-left:1px solid #555555; border-top:1px solid #555555; padding:4px; vertical-align:top; }
	.calendar_body td p { clear:both; font-size:10px; color:#000; margin:2px 0; line-height:110%; }
	.calendar_body .txt_day { float:right; clear:both; width:16px; margin-bottom:5px; text-align:center; font-size:10px; font-weight:bold; color:#555555; }
	.calendar_body .td_blank { background-color:#f5f5f5; }
	.calendar_body .today { background-color:#e8ffc4; }
	.calendar_body .today .txt_day { color:#000; }
	.calendar_body .txt_bold { font-weight:bold; }
	.calendar_body .txt_blue { color:#00C; }
		.calendar_body .txt_blue a:link, 
		.calendar_body .txt_blue a:active, 
		.calendar_body .txt_blue a:visited { color:#00C; text-decoration:none;}
		.calendar_body .txt_blue a:hover { color:#0072bc;}
	.calendar_body .txt_red { color:#F30; }
		.calendar_body .txt_red a:link, 
		.calendar_body .txt_red a:active, 
		.calendar_body .txt_red a:visited { color:#F30; text-decoration:none;}
		.calendar_body .txt_red a:hover { color:#0072bc;}
	.calendar_body a:link, 
	.calendar_body a:active, 
	.calendar_body a:visited { color:#000; text-decoration:none;}
	.calendar_body a:hover { color:#0072bc; }
	
	
/* Ranking */
.ranking {}

	.ranking table { font-family:verdana; color:#898989; }
	.ranking th { height:28px; background-color:#d9d8d6; color:#000; border-top:1px solid #636363; border-bottom:1px solid #636363; font-size:11px; }
	.ranking td { height:34px; text-align:center; border-bottom:1px solid #CCC; border-right:1px solid #CCC; font-size:11px; }
		.ranking .personal_my_th { background-color:#efefef; font-weight:bold; color:#555555; }
		.ranking .txt_rank { border-left:1px solid #CCC; font-weight:bold; }
		.ranking .txt_guild { color:#363636; font-weight:bold; }
		.ranking .txt_char { color:#0076a3; font-weight:bold; }
		.ranking .txt_class { color:#363636; }
		.ranking .txt_up_down { color:#898989; font-size:10px; padding:0 5px; }
	
	.dot_line_mr_20 { width:100%; height:41px; background:url(/_common/_images/us/12sky2/sub/ost_line.gif) 20px repeat-x; }
	
	.rank_server { width:605px; padding:15px; background-color:#d9d8d6; border-bottom:1px solid #696969; border-top:1px solid #636363; font-size:11px; font-weight:bold; color:#000; font-family:verdana;  }
		.rank_server select { width:200px; color:#666; font-family:verdana; font-size:12px; }
		
	.rank_tab { width:605px; padding:15px; background-color:#d9d8d6; border-bottom:1px solid #696969; border-top:1px solid #636363; font-size:12px; font-weight:bold; font-family:verdana; text-align:center;  }
		.rank_tab span { margin-right:20px; }
		.rank_tab .on { color:#c60006 }
		.rank_tab a:link, 
		.rank_tab a:active, 
		.rank_tab a:visited { color:#000; text-decoration:none; }
		.rank_tab a:hover { color:#c60006; }
	.rank_sort { width:100%; padding:10px 0 5px 0; display:inline-block; }
		.rank_sort .sort { float:left; font-weight:bold; }
			.rank_sort .sort a:link, 
			.rank_sort .sort a:active, 
			.rank_sort .sort a:visited { color:#555555; text-decoration:none; font-size:10px;}
			.rank_sort .sort a:hover { color:#0072bc; font-size:10px; }
		.rank_sort .updated { float:right; font-weight:bold; font-size:11px; color:#555555; }
	
	.rank_war { float:left; }
		.rank_war .tit_box { width:150px; padding:17px 0 17px 60px; border-bottom:1px solid #696969; border-top:1px solid #636363; font-size:12px; font-weight:bold; color:#000; font-family:verdana; }
		.rank_war .tit_box_bg01 { background:url(/_common/_images/us/12sky2/sub/rank_war_tit_bg01.jpg) top left no-repeat #d9d8d6;  }
		.rank_war .tit_box_bg02 { background:url(/_common/_images/us/12sky2/sub/rank_war_tit_bg02.jpg) top left no-repeat #d9d8d6;  }
		.rank_war .body_box { width:174px; padding:17px; border:1px solid #cccccc; font-size:12px; font-family:verdana; display:inline-block; }
		.rank_war .body_box ul { display:inline-block; }
		.rank_war .body_box li { line-height:140%; float:left; }
		.rank_war .body_box li img { margin:0 10px 0 0; }
		.rank_war .txt_war { font-weight:bold; color:#8c6239; padding-bottom:10px; }
		.rank_war .txt_guild_tit { padding-top:5px; font-size:11px; color:#898989; }
		.rank_war .txt_guild_name { font-weight:bold; fcolor:#363636; }
		.rank_war .body_box_line { width:176px; height:1px; border-bottom:1px solid #dedede; margin:15px 0; }
		
	.rank_guild { float:left; margin-left:15px; }
	
	/* refer */
	.refer { }
	.refer h4 { margin:0 0 15px 0; font-size:24px; font-weight:normal; font-family:verdana;}
	.refer h5 { font-size:12px; color:#f26522; font-weight:bold; font-family:verdana; margin-bottom:5px;}
		.refer .box01 { background:#efefef; padding:12px; border:1px solid #dddddd; font-family:verdana; font-size:11px; line-height:160%; margin-bottom:20px; }
		.refer .box02 { font-size:11px; line-height:160%; font-family:verdana; }
	
	/* Point shop */
	.point { position:relative;}
		.point h5,
		.point_list h5,
		.point_list h5 { margin:35px 0 0 0; }

		.point .tit_s { margin:7px 0 0 30px;}
		.point .pointbox { position:relative; margin:7px 0 0 0; width:370px; height:58px; background:url(/_common/_images/us/12sky2/sub/pointbox_bg.gif) no-repeat;}
		.point .pointbox p.tit { position:absolute; top:22px; left:58px; font-size:12px; letter-spacing:-1px; font-family:verdana;}
		.point .pointbox p.my_point { position:absolute; top:22px; right:80px; width:130px; color:#fff; font-weight:bold; text-align:right;}
		.point .btn_coupon { position:absolute; top:0px; left:380px;}

		.point_list .box { margin:12px 0 0 0; border:1px solid #dcd8d7; border-bottom:none; border-right:none; *zoom:1;}
		.point_list .box:after {content:""; clear:both; display:block;}
		.point_list .box dl { float:left; width:211px;}
		.point_list .box dt { padding:10px 0 0 0; height:20px; color:#9e8475; font-size:11px; font-weight:bold; text-align:center; background:#f9f8f6; border:1px solid #dcd8d7; border-left:none; border-top:none;}
		.point_list .box dd { padding:5px 0 0 0; height:115px; font-size:11px; color:#f7941d; font-weight:bold; text-align:center; background:#fff; border:1px solid #dcd8d7; border-left:none; border-top:none;}
		.point_list .box dd img { margin:10px 0;}
		.point_list .box p { padding-top:7px; }

		.point_list table { margin:12px 0 0 0; width:100%; border-collapse:collapse;}
		.point_list table th { height:30px; color:#9e8475; font-size:11px; font-weight:bold; text-align:center; background:#f9f8f6; border:1px solid #dcd8d7;}
		.point_list table td { padding:5px 0; font-size:11px; color:#f7941d; font-weight:bold; text-align:center; background:#fff; border:1px solid #dcd8d7;}
		.point_list table td img { margin:10px 0;}


.f_l { float:left; }
.f_r { float:right; }
.clear_b { clear:both }
.dp_ib { display:inline-block; }

	
