<?xml version="1.0" encoding="utf-8"?>
<!--
	참고: 이 파일을 직접 편집하는 대신 웹 관리 도구를 사용하면 사용 중인 응용 프로그램에 대한 설정을 구성할 수 있습니다.
	Visual Studio에서 [웹 사이트]의 [Asp.Net 구성] 옵션을 사용하십시오.
	설정 및 주석에 대한 전체 목록은 일반적으로 \Windows\Microsoft.Net\Framework\v2.x\Config의 machine.config.comments에 있습니다.
-->
<configuration>
	<appSettings>
		<add key="sDomain" value=".12sky2-{0}.com"/>
		<add key="sPageTitle" value="TwelveSky2 WSP"/>
		<add key="sResourceXmlPath" value="/bin/Resource/App_"/>
		<add key="sBlockSize" value="10"/>
		<add key="sBlockSizeL" value="10"/>
		<add key="sPageSize" value="15"/>
		<add key="sPageSizeS" value="5"/>
		<add key="sPageSizeL" value="30"/>
		<add key="sPageSizeLog" value="50"/>
		<!-- 웹페이지 환경 변수 -->
		<add key="cultureinfo" value="en-US"/>
		<add key="cLangCode" value="en"/>
		<add key="cLangNo" value="1"/>
		<!-- language
			1 : en
			2 : th
			3 : vn
		-->
		<add key="cNatCode" value="PH"/>
		<add key="cNation" value="2"/>
		<!-- publisher
			1 : MY
			2 : PH
			3 : TH
			4 : VN
		-->
		<add key="cGameNo" value="2016001"/>
		<add key="cSiteKey" value="1001"/>
		<!--
			1001 : TwelveKsy
		-->
		<add key="TimeOut_Basic" value="60000"/>
		<add key="TimeOut_Long" value="180000"/>
		<add key="wBillURL" value="http://bill.12sky2-{0}.com"/>
		<add key="wFaceBook" value="https://www.facebook.com/{1}WSP.{0}"/>
		<add key="wGameDown" value="http://kj.edgesuite.net/{0}/SETUP/WSP_{0}.exe"/>
		<add key="wErrorURL" value="/errors.aspx"/>
		<add key="wLoginURL" value="/"/>
		<!-- 패스워드 암호화여부 -->
		<add key="PasswordHashEnabled" value="true"/>
		<!-- Authority Cookie Crypto Settings -->
		<add key="AuthorityCookieCrypto_CryptoProvider" value="Field.Framework.Security.Cryptography.DESProvider, Field.Framework.Security"/>
		<add key="AuthorityCookieCrypto_CryptoPassword" value="auth.ilovefield.com"/>
		<!-- Authority Cookie Crypto Settings -->
		<add key="Facebook_access_token" value="669402546426905|KTXe4Pe3HzNFqdzv02-Kd7zUHUc"/>
		<add key="recaptchaPublicKey" value="6Lf_vAcTAAAAAGcIt-oBFb_RMyhIfWlGi7LdK_Tq"/>
		<add key="recaptchaPrivateKey" value="6Lf_vAcTAAAAADK-IHwotenUvI8WZ7-okXCGS_Tt"/>
	</appSettings>
	<connectionStrings>
		<add name="Authority" connectionString="Server=127.0.0.1,9174;database=AuthorityWeb;uid=sawebuser;pwd=apclslzhvm11!;" providerName="System.Data.SqlClient"/>
		<add name="SiteManager" connectionString="Server=127.0.0.1,9174;database=SiteManager;uid=opwebuser;pwd=apclslzhvm11!;" providerName="System.Data.SqlClient"/>
		<add name="FieldWeb" connectionString="Server=127.0.0.1,9174;database=TwelveskyWeb;uid=sawebuser;pwd=apclslzhvm11!;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
		The following attributes can be set on the <httpRuntime> tag.
		<httpRuntime targetFramework="4.5"/>
		-->
		<httpRuntime maxRequestLength="215940" executionTimeout="50000"/>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="ko-KR" culture="en-US"/>
		<!--globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="ko-KR" culture="ko-KR" /-->
		<!--globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="ja-JP" culture="ja-JP" /-->
		<!--globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US" culture="vi-VN" /-->
		<!--globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US" culture="en-PH" /-->
		<!--globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US" culture="en-MY" /-->
		<!--globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US" culture="en-TH" /-->
		<httpHandlers />
		<!-- pages theme="Default" styleSheetTheme="Default" validateRequest="false" /-->
		<!--
		컴파일된 페이지에 디버깅 기호를 삽입하려면 compilation debug="true"로 설정하십시오.
		이렇게 하면 성능에 영향을 주므로 개발하는 동안에만 이 값을 true로 설정하십시오.
		<compilation debug="true" targetFramework="4.5.1">
			<codeSubDirectories>
				<add directoryName="Authority"/>
			</codeSubDirectories>
			<assemblies>
				<add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		-->
		<!--
		<authentication> 섹션에서는 ASP.NET에서 사용되는
		보안 인증 모드의 구성을 설정하여 들어오는
		사용자를 식별할 수 있습니다.
		-->
		<authentication mode="Windows"/>
		<!--
		섹션에서는 요청을 실행하는 동안 처리되지 않은 오류가 발생하는 경우 수행할 작업을 구성할 수 있습니다.
		특히 이 섹션에서는 개발자가 오류 스택 추적 대신 html 오류 페이지가 표시되도록 구성할 수 있습니다.
		<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx">
		<error statusCode="403" redirect="ErrorPage.aspx"/>
		<error statusCode="404" redirect="ErrorPage.aspx"/>
		</customErrors>
		-->
		<compilation debug="true" targetFramework="4.5.2"/>
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
